In [1]:
import os
import sys
# Add src/ to sys.path (relative to current notebook)
sys.path.append(os.path.abspath("../../src"))

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pathlib

from utils.DataAnalysis import TableAnalysis, MyCustomException
from utils.VariableAnalysis import UnivariateAnalysis,BivariateAnalysis
from utils.pdf_file_save import PDFReportWriter

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)

In [2]:
file_path = pathlib.Path('D:\Capstone Project\dataset\House_Price_dataset')
df = pd.read_csv(f"{file_path}/3.gurgaon_properties.csv")
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 Bedroom House for sale in Sector 48 Gurgaon,house,vipul tatvam villa,7.35,22812.0,3222.0,Plot area 358(299.33 sq.m.),4,5,2,"servant room,store room,study room,pooja room","001, Sector 48 Gurgaon, Gurgaon, Haryana",2.0,South,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",Tatvam villas is one of the most luxurious res...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '14 L...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,2 BHK Flat in Sohna,flat,signature global park,0.54,6388.0,845.0,Super Built up area 845.3(78.53 sq.m.)Carpet a...,2,2,3,not available,"M3 Fourth Floor, Sohna, Gurgaon, Haryana",4.0,East,0 to 1 Year Old,"['Sector 55-56 metro', 'Global city centre', '...",Check out this 2 bhk flat for sale in signatur...,NaN,"['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction5 out of..."
2,2 BHK Flat in Sector 88A Gurgaon,flat,godrej oasis,1.00,6896.0,1450.0,Carpet area: 1450 (134.71 sq.m.),2,2,3,study room,"Sector 88A Gurgaon, Gurgaon, Haryana",7.0,NaN,1 to 5 Year Old,"['Double Infinity market', 'Pataudi road', 'Dw...",This beautiful 2 bhk flat in sector-88a gurgao...,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4.5 out ..."
3,2 BHK Flat in Sector 90 Gurgaon,flat,green court,0.47,6811.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"Sector 90 Gurgaon, Gurgaon, Haryana",0.0,East,0 to 1 Year Old,"['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","Park facing, only 04 flats on floor, both side...","['3 Fan', '1 Exhaust Fan', '7 Light', 'No AC',...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area3 out of 5', 'Amenities4 out of 5'..."
4,3 BHK Flat in Sector 68 Gurgaon,flat,m3m the marina,2.22,14322.0,1550.0,Super Built up area 1550(144 sq.m.),3,2,3,not available,"Sector 68 Gurgaon, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...",Aravali pahadi view\nVer spacious \nLow floor,"['6 Fan', '10 Light', '4 AC', 'No Bed', 'No Ch...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area4 out of 5', 'Construction4 out of..."

In [3]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1033,5 Bedroom House for sale in Jacobpura Near Sad...,house,jacobpura gurugram,1.30,23557.0,552.0,Plot area 56.6(47.32 sq.m.),5,2,1,others,"520/8 Jacobpura Gurugram Gali Number 2, Jacobp...",3.0,South-West,10+ Year Old,"['Hanuman Mandir', 'Sharma Hospital Gurgaon', ...","Close to metro station, close to school, close...","['2 Wardrobe', '6 Fan', '20 Light', 'No AC', '...",NaN,NaN
2455,4 BHK Flat in Sector 9A Gurgaon,flat,railway officers rpf society,1.25,6921.0,1806.0,Carpet area: 1806 (167.78 sq.m.),4,3,3,servant room,"101, Tower A, Sector 9A Gurgaon, Gurgaon, Haryana",1.0,South-West,10+ Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Esic...",4bhk flat/apartment for sale in rpf housing so...,"['3 Wardrobe', '1 Exhaust Fan', '3 Geyser', '1...","['Power Back-up', 'Feng Shui / Vaastu Complian...","['Connectivity4 out of 5', 'Lifestyle4 out of ..."
1295,1 BHK Flat in Sector 103 Gurgaon,flat,signature global grand iva,0.30,8290.0,362.0,Carpet area: 361.88 (33.62 sq.m.),1,2,2,not available,"Sector 103 Gurgaon, Gurgaon, Haryana",5.0,NaN,0 to 1 Year Old,"['Dwaraka Expy, Tikampur Village', 'Sector 108...",Residential apartment for sell.Located on 5th ...,[],"['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Green Area5 out of 5', 'Construction5 out of..."
3251,12 Bedroom House for sale in Sushant Lok Phase 3,house,independent,6.95,38611.0,1800.0,Plot area 192(160.54 sq.m.),12,12,3+,"servant room,store room","Sushant Lok Phase 3, Gurgaon, Haryana",4.0,East,0 to 1 Year Old,"['Radhakrishna Shani Mandir', 'Sanatan Dharm M...",Entire building for sale (Floor wise ) in sect...,"['1 Water Purifier', '1 Exhaust Fan', '1 Stove...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
35,4 BHK Flat in Sector 70 Gurgaon,flat,tulip ivory,2.00,8333.0,2400.0,Super Built up area 2400(222.97 sq.m.)Carpet a...,4,5,3+,servant room,"Sector 70 Gurgaon, Gurgaon, Haryana",7.0,North-East,5 to 10 Year Old,"['Reach 3 Roads Shopping Mall', 'Southern Peri...","Tulip ivory 4bhk in sector 70, gurgaon is a re...","['4 Wardrobe', '5 Fan', '1 Exhaust Fan', '3 Ge...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area3.5 out of 5', 'Construction3.5 ou..."

In [4]:
df.shape

(3961, 20)

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [7]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
dtype: int64

In [8]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 Bedroom House for sale in Sector 48 Gurgaon,house,vipul tatvam villa,7.35,22812.0,3222.0,Plot area 358(299.33 sq.m.),4,5,2,"servant room,store room,study room,pooja room","001, Sector 48 Gurgaon, Gurgaon, Haryana",2.0,South,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",Tatvam villas is one of the most luxurious res...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '14 L...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,2 BHK Flat in Sohna,flat,signature global park,0.54,6388.0,845.0,Super Built up area 845.3(78.53 sq.m.)Carpet a...,2,2,3,not available,"M3 Fourth Floor, Sohna, Gurgaon, Haryana",4.0,East,0 to 1 Year Old,"['Sector 55-56 metro', 'Global city centre', '...",Check out this 2 bhk flat for sale in signatur...,NaN,"['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction5 out of..."
2,2 BHK Flat in Sector 88A Gurgaon,flat,godrej oasis,1.00,6896.0,1450.0,Carpet area: 1450 (134.71 sq.m.),2,2,3,study room,"Sector 88A Gurgaon, Gurgaon, Haryana",7.0,NaN,1 to 5 Year Old,"['Double Infinity market', 'Pataudi road', 'Dw...",This beautiful 2 bhk flat in sector-88a gurgao...,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4.5 out ..."
3,2 BHK Flat in Sector 90 Gurgaon,flat,green court,0.47,6811.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"Sector 90 Gurgaon, Gurgaon, Haryana",0.0,East,0 to 1 Year Old,"['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","Park facing, only 04 flats on floor, both side...","['3 Fan', '1 Exhaust Fan', '7 Light', 'No AC',...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area3 out of 5', 'Amenities4 out of 5'..."
4,3 BHK Flat in Sector 68 Gurgaon,flat,m3m the marina,2.22,14322.0,1550.0,Super Built up area 1550(144 sq.m.),3,2,3,not available,"Sector 68 Gurgaon, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...",Aravali pahadi view\nVer spacious \nLow floor,"['6 Fan', '10 Light', '4 AC', 'No Bed', 'No Ch...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area4 out of 5', 'Construction4 out of..."

In [9]:
## Add Sector Column 
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

## Lowering Sector Value
df['sector'] = df['sector'].str.lower()

In [10]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 Bedroom House for sale in Sector 48 Gurgaon,house,vipul tatvam villa,sector 48,7.35,22812.0,3222.0,Plot area 358(299.33 sq.m.),4,5,2,"servant room,store room,study room,pooja room","001, Sector 48 Gurgaon, Gurgaon, Haryana",2.0,South,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",Tatvam villas is one of the most luxurious res...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '14 L...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,2 BHK Flat in Sohna,flat,signature global park,sohna,0.54,6388.0,845.0,Super Built up area 845.3(78.53 sq.m.)Carpet a...,2,2,3,not available,"M3 Fourth Floor, Sohna, Gurgaon, Haryana",4.0,East,0 to 1 Year Old,"['Sector 55-56 metro', 'Global city centre', '...",Check out this 2 bhk flat for sale in signatur...,NaN,"['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction5 out of..."
2,2 BHK Flat in Sector 88A Gurgaon,flat,godrej oasis,sector 88a,1.00,6896.0,1450.0,Carpet area: 1450 (134.71 sq.m.),2,2,3,study room,"Sector 88A Gurgaon, Gurgaon, Haryana",7.0,NaN,1 to 5 Year Old,"['Double Infinity market', 'Pataudi road', 'Dw...",This beautiful 2 bhk flat in sector-88a gurgao...,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4.5 out ..."
3,2 BHK Flat in Sector 90 Gurgaon,flat,green court,sector 90,0.47,6811.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"Sector 90 Gurgaon, Gurgaon, Haryana",0.0,East,0 to 1 Year Old,"['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","Park facing, only 04 flats on floor, both side...","['3 Fan', '1 Exhaust Fan', '7 Light', 'No AC',...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area3 out of 5', 'Amenities4 out of 5'..."
4,3 BHK Flat in Sector 68 Gurgaon,flat,m3m the marina,sector 68,2.22,14322.0,1550.0,Super Built up area 1550(144 sq.m.),3,2,3,not available,"Sector 68 Gurgaon, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...",Aravali pahadi view\nVer spacious \nLow floor,"['6 Fan', '10 Light', '4 AC', 'No Bed', 'No Ch...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area4 out of 5', 'Construction4 out of..."

In [11]:
df['sector'].value_counts()

sector
sohna                                      163
sector 102                                 113
sector 85                                  110
sector 92                                  104
sector 69                                   94
                                          ...
saraswati enclave                            1
khandsa                                      1
saroop garden rajendra park                  1
block h ashok vihar phase iii extension      1
sector 42                                    1
Name: count, Length: 301, dtype: int64

In [12]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

In [13]:
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

In [14]:
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')

In [15]:
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

In [16]:
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

In [17]:
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

In [18]:
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [19]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [20]:
df['sector'].value_counts()

sector
sohna road           163
sector 102           113
sector 85            110
sector 92            104
sector 69             94
                    ...
sector 15              3
sector 73              3
b block sector 43      3
sector 17a             3
patel nagar            3
Name: count, Length: 131, dtype: int64

In [21]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')

In [22]:
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [23]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1096,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
1870,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
2158,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
3593,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN

In [24]:
df.loc[955,'sector'] = 'sector 37'
df.loc[2800,'sector'] = 'sector 92'
df.loc[2838,'sector'] = 'sector 90'
df.loc[2857,'sector'] = 'sector 76'

In [25]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
123,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2,2,2,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1524,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2,1,1,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."
2469,3 Bedroom House for sale in New Palam Vihar,house,independent,new sector 2,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,2,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
2571,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2,2,1,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
2886,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2,2,2,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."

In [26]:
df.shape

(3803, 21)

In [27]:
df.duplicated().sum()

np.int64(0)

In [28]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 Bedroom House for sale in Sector 48 Gurgaon,house,vipul tatvam villa,sector 48,7.35,22812.0,3222.0,Plot area 358(299.33 sq.m.),4,5,2,"servant room,store room,study room,pooja room","001, Sector 48 Gurgaon, Gurgaon, Haryana",2.0,South,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",Tatvam villas is one of the most luxurious res...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '14 L...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,2 BHK Flat in Sohna,flat,signature global park,sohna road,0.54,6388.0,845.0,Super Built up area 845.3(78.53 sq.m.)Carpet a...,2,2,3,not available,"M3 Fourth Floor, Sohna, Gurgaon, Haryana",4.0,East,0 to 1 Year Old,"['Sector 55-56 metro', 'Global city centre', '...",Check out this 2 bhk flat for sale in signatur...,NaN,"['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction5 out of..."
2,2 BHK Flat in Sector 88A Gurgaon,flat,godrej oasis,sector 88a,1.00,6896.0,1450.0,Carpet area: 1450 (134.71 sq.m.),2,2,3,study room,"Sector 88A Gurgaon, Gurgaon, Haryana",7.0,NaN,1 to 5 Year Old,"['Double Infinity market', 'Pataudi road', 'Dw...",This beautiful 2 bhk flat in sector-88a gurgao...,NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4.5 out ..."
3,2 BHK Flat in Sector 90 Gurgaon,flat,green court,sector 90,0.47,6811.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"Sector 90 Gurgaon, Gurgaon, Haryana",0.0,East,0 to 1 Year Old,"['Baba Kanala Chowk', 'Pataudi Rd', 'Gurukul P...","Park facing, only 04 flats on floor, both side...","['3 Fan', '1 Exhaust Fan', '7 Light', 'No AC',...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area3 out of 5', 'Amenities4 out of 5'..."
4,3 BHK Flat in Sector 68 Gurgaon,flat,m3m the marina,sector 68,2.22,14322.0,1550.0,Super Built up area 1550(144 sq.m.),3,2,3,not available,"Sector 68 Gurgaon, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...",Aravali pahadi view\nVer spacious \nLow floor,"['6 Fan', '10 Light', '4 AC', 'No Bed', 'No Ch...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area4 out of 5', 'Construction4 out of..."

In [29]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [30]:
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
1016,flat,sidhartha ncr one phase,sector 95,0.56,4105.0,1364.0,Super Built up area 1364(126.72 sq.m.),2,2,2,not available,10.0,NaN,1 to 5 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","['4 Fan', '1 Exhaust Fan', '2 Geyser', '8 Ligh...","['Lift(s)', 'Maintenance Staff', 'Swimming Poo..."
1578,house,independent,sector 43,5.25,27132.0,1935.0,Plot area 215(179.77 sq.m.),4,4,2,"study room,servant room",2.0,NaN,10+ Year Old,"['Sector 42-43 metro station', 'Huda city cent...","['4 Wardrobe', '4 Fan', '4 Geyser', '12 Light'...","['Feng Shui / Vaastu Compliant', 'Security / F..."
1383,flat,umang monsoon breeze,sector 78,1.25,5000.0,2500.0,Super Built up area 2350(218.32 sq.m.)Built Up...,4,4,3,"servant room,others,pooja room",2.0,East,1 to 5 Year Old,"['Proposed Metro Station', 'Mahapal Shing', 'N...","['1 Water Purifier', 'No AC', 'No Bed', 'No Ch...","['Feng Shui / Vaastu Compliant', 'Intercom Fac..."
2597,flat,kashish manor one,sector 111,1.65,7097.0,2325.0,Super Built up area 2325(216 sq.m.),3,4,3+,"servant room,others",14.0,NaN,Under Construction,"['HUDA Sector 23 Market', 'Palam Vihar Vyapar ...",[],"['Park', 'Club house / Community Center', 'Wat..."
2005,flat,smart world orchard,sector 61,1.65,13750.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,1.0,NaN,By 2023,"['Sector 55-56 Metro station', 'Bestech Centra...",[],"['Power Back-up', 'Lift(s)', 'Swimming Pool', ..."

In [31]:
# feature engineering required -> areaWithType, additionalRoom, facing, agePossession, furnishDetails, features

In [32]:
df.duplicated().sum()

np.int64(121)

In [33]:
df.to_csv(f'{file_path}/4.gurgaon_properties_cleaned_v1.csv',index=False)