In [1]:
import os
import sys
# Add src/ to sys.path (relative to current notebook)
sys.path.append(os.path.abspath("../../src"))

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pathlib

from utils.DataAnalysis import TableAnalysis, MyCustomException
from utils.VariableAnalysis import UnivariateAnalysis,BivariateAnalysis
from utils.pdf_file_save import PDFReportWriter

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)

In [2]:
file_path = pathlib.Path('D:\Capstone Project\dataset\House_Price_dataset')
df = pd.read_csv(f"{file_path}/3.gurgaon_properties.csv")
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 107 Gurgaon,flat,m3m woodshire,0.80,5856.0,1366.0,Super Built up area 1366(126.91 sq.m.),2,2,3+,not available,"Sector 107 Gurgaon, Gurgaon, Haryana",7.0,North-East,1 to 5 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...",M3m woodshire is one of the most popular desti...,"['2 Wardrobe', '5 Fan', '1 Exhaust Fan', '5 Li...","['Water purifier', 'Security / Fire Alarm', 'F...","['Green Area4.5 out of 5', 'Construction5 out ..."
1,2 BHK Flat in Laxman Vihar,flat,not applicable,0.42,5600.0,750.0,Carpet area: 750 (69.68 sq.m.),2,2,1,not available,"621/622, Gali No-4, Laxman Vihar, Gurgaon, Har...",3.0,NaN,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Prat...","Flat build on, two side open plot with 18 feet...","['4 Wardrobe', '1 Water Purifier', '2 Fan', '1...","['Lift(s)', 'Water purifier', 'Maintenance Sta...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,8 Bedroom House for sale in Sector 105 Gurgaon,house,independent,0.60,11102.0,540.0,Plot area 60(50.17 sq.m.),8,4,3,not available,"C 93 B, Sector 105 Gurgaon, Gurgaon, Haryana",3.0,West,0 to 1 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Bhar...",Property with modern upgradesPlease write a pr...,"['9 Fan', '17 Light', 'No AC', 'No Bed', 'No C...","['Private Garden / Terrace', 'Park']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
3,3 BHK Flat in Sector 111 Gurgaon,flat,kashish manor one,1.65,7097.0,2325.0,Super Built up area 2325(216 sq.m.),3,4,3+,"servant room,others","Sector 111 Gurgaon, Gurgaon, Haryana",14.0,NaN,Under Construction,"['HUDA Sector 23 Market', 'Palam Vihar Vyapar ...",Kashish manor one is located just 0 km from de...,[],"['Park', 'Club house / Community Center', 'Wat...",NaN
4,3 Bedroom House for sale in Ashok Vihar,house,independent,0.90,10000.0,900.0,Plot area 900(83.61 sq.m.)Built Up area: 3500 ...,3,4,3,others,"Phase 3 Extn., Ashok Vihar, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",L shape plot. Commercial cum residential const...,"['1 Bed', '5 Wardrobe', '1 Water Purifier', '4...","['Feng Shui / Vaastu Compliant', 'Water Storag...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [3]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
3592,3 BHK Flat in Sector 92 Gurgaon,flat,sare crescent parc,0.82,5384.0,1523.0,Built Up area: 1523 (141.49 sq.m.),3,3,3+,not available,"Sector 92, Sector 92 Gurgaon, Gurgaon, Haryana",12.0,West,undefined,NaN,3bhk multistorey apartment for resale in sare ...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Green Area4 out of 5', 'Amenities3 out of 5'..."
2664,3 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,1.05,7000.0,1500.0,Super Built up area 1735(161.19 sq.m.)Carpet a...,3,3,3,store room,"Sector 83 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Located in the popular residential address of ...,NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...","['Green Area5 out of 5', 'Construction4.5 out ..."
3257,1 BHK Flat in Sector 107 Gurgaon,flat,signature global solera,0.25,7862.0,318.0,Built Up area: 318 (29.54 sq.m.),1,1,0,not available,"Sector 107, Sector 107 Gurgaon, Gurgaon, Haryana",0.0,NaN,undefined,"['Gurgaon Dreamz Mall', 'Dwarka Expressway', ""...",1bhk multistorey apartment for resale in signa...,NaN,NaN,"['Green Area4.5 out of 5', 'Construction4.5 ou..."
87,5 Bedroom House for sale in Block G Sector-57 ...,house,independent,1.35,24545.0,550.0,Plot area 550(51.1 sq.m.),5,3,2,not available,"G1139, Block G Sector-57 Gurgaon, Gurgaon, Har...",3.0,South-East,10+ Year Old,"['Sector metro station', 'Sector metro station...","Posh location, nice locality. Independent hous...","['1 Water Purifier', '1 Fan', '1 Light', '1 Wa...","['Maintenance Staff', 'Park', 'Visitor Parking']",NaN
3448,4 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,1.40,7179.0,1950.0,Carpet area: 1950 (181.16 sq.m.),4,4,3,servant room,"Sector 83 Gurgaon, Gurgaon, Haryana",10.0,North-East,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Vatika gurgaon 21 is one of the most popular d...,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction4.5 out ..."

In [4]:
df.shape

(3961, 20)

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [7]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
dtype: int64

In [8]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 107 Gurgaon,flat,m3m woodshire,0.80,5856.0,1366.0,Super Built up area 1366(126.91 sq.m.),2,2,3+,not available,"Sector 107 Gurgaon, Gurgaon, Haryana",7.0,North-East,1 to 5 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...",M3m woodshire is one of the most popular desti...,"['2 Wardrobe', '5 Fan', '1 Exhaust Fan', '5 Li...","['Water purifier', 'Security / Fire Alarm', 'F...","['Green Area4.5 out of 5', 'Construction5 out ..."
1,2 BHK Flat in Laxman Vihar,flat,not applicable,0.42,5600.0,750.0,Carpet area: 750 (69.68 sq.m.),2,2,1,not available,"621/622, Gali No-4, Laxman Vihar, Gurgaon, Har...",3.0,NaN,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Prat...","Flat build on, two side open plot with 18 feet...","['4 Wardrobe', '1 Water Purifier', '2 Fan', '1...","['Lift(s)', 'Water purifier', 'Maintenance Sta...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,8 Bedroom House for sale in Sector 105 Gurgaon,house,independent,0.60,11102.0,540.0,Plot area 60(50.17 sq.m.),8,4,3,not available,"C 93 B, Sector 105 Gurgaon, Gurgaon, Haryana",3.0,West,0 to 1 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Bhar...",Property with modern upgradesPlease write a pr...,"['9 Fan', '17 Light', 'No AC', 'No Bed', 'No C...","['Private Garden / Terrace', 'Park']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
3,3 BHK Flat in Sector 111 Gurgaon,flat,kashish manor one,1.65,7097.0,2325.0,Super Built up area 2325(216 sq.m.),3,4,3+,"servant room,others","Sector 111 Gurgaon, Gurgaon, Haryana",14.0,NaN,Under Construction,"['HUDA Sector 23 Market', 'Palam Vihar Vyapar ...",Kashish manor one is located just 0 km from de...,[],"['Park', 'Club house / Community Center', 'Wat...",NaN
4,3 Bedroom House for sale in Ashok Vihar,house,independent,0.90,10000.0,900.0,Plot area 900(83.61 sq.m.)Built Up area: 3500 ...,3,4,3,others,"Phase 3 Extn., Ashok Vihar, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",L shape plot. Commercial cum residential const...,"['1 Bed', '5 Wardrobe', '1 Water Purifier', '4...","['Feng Shui / Vaastu Compliant', 'Water Storag...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [9]:
## Add Sector Column 
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

## Lowering Sector Value
df['sector'] = df['sector'].str.lower()

In [10]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 107 Gurgaon,flat,m3m woodshire,sector 107,0.80,5856.0,1366.0,Super Built up area 1366(126.91 sq.m.),2,2,3+,not available,"Sector 107 Gurgaon, Gurgaon, Haryana",7.0,North-East,1 to 5 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...",M3m woodshire is one of the most popular desti...,"['2 Wardrobe', '5 Fan', '1 Exhaust Fan', '5 Li...","['Water purifier', 'Security / Fire Alarm', 'F...","['Green Area4.5 out of 5', 'Construction5 out ..."
1,2 BHK Flat in Laxman Vihar,flat,not applicable,laxman vihar,0.42,5600.0,750.0,Carpet area: 750 (69.68 sq.m.),2,2,1,not available,"621/622, Gali No-4, Laxman Vihar, Gurgaon, Har...",3.0,NaN,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Prat...","Flat build on, two side open plot with 18 feet...","['4 Wardrobe', '1 Water Purifier', '2 Fan', '1...","['Lift(s)', 'Water purifier', 'Maintenance Sta...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,8 Bedroom House for sale in Sector 105 Gurgaon,house,independent,sector 105,0.60,11102.0,540.0,Plot area 60(50.17 sq.m.),8,4,3,not available,"C 93 B, Sector 105 Gurgaon, Gurgaon, Haryana",3.0,West,0 to 1 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Bhar...",Property with modern upgradesPlease write a pr...,"['9 Fan', '17 Light', 'No AC', 'No Bed', 'No C...","['Private Garden / Terrace', 'Park']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
3,3 BHK Flat in Sector 111 Gurgaon,flat,kashish manor one,sector 111,1.65,7097.0,2325.0,Super Built up area 2325(216 sq.m.),3,4,3+,"servant room,others","Sector 111 Gurgaon, Gurgaon, Haryana",14.0,NaN,Under Construction,"['HUDA Sector 23 Market', 'Palam Vihar Vyapar ...",Kashish manor one is located just 0 km from de...,[],"['Park', 'Club house / Community Center', 'Wat...",NaN
4,3 Bedroom House for sale in Ashok Vihar,house,independent,ashok vihar,0.90,10000.0,900.0,Plot area 900(83.61 sq.m.)Built Up area: 3500 ...,3,4,3,others,"Phase 3 Extn., Ashok Vihar, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",L shape plot. Commercial cum residential const...,"['1 Bed', '5 Wardrobe', '1 Water Purifier', '4...","['Feng Shui / Vaastu Compliant', 'Water Storag...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [11]:
df['sector'].value_counts()

sector
sohna                   163
sector 102              113
sector 85               110
sector 92               104
sector 69                94
                       ...
near nand hospital        1
huda saraswati vihar      1
heritage city             1
part 3 sector 5           1
tekchand nagar            1
Name: count, Length: 301, dtype: int64

In [12]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

In [13]:
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

In [14]:
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')

In [15]:
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

In [16]:
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

In [17]:
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

In [18]:
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [19]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [20]:
df['sector'].value_counts()

sector
sohna road           163
sector 102           113
sector 85            110
sector 92            104
sector 69             94
                    ...
sector 73              3
sector 110 a           3
sector 17a             3
sector 17b             3
b block sector 43      3
Name: count, Length: 131, dtype: int64

In [21]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')

In [22]:
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [23]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
890,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
1535,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
2791,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN
3949,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN

In [24]:
df.loc[955,'sector'] = 'sector 37'
df.loc[2800,'sector'] = 'sector 92'
df.loc[2838,'sector'] = 'sector 90'
df.loc[2857,'sector'] = 'sector 76'

In [25]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
704,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2,2,1,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
714,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2,2,2,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
1079,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2,1,1,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."
1711,3 Bedroom House for sale in New Palam Vihar,house,independent,new sector 2,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,2,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
2589,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2,2,2,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [26]:
df.shape

(3803, 21)

In [27]:
df.duplicated().sum()

np.int64(0)

In [28]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 107 Gurgaon,flat,m3m woodshire,sector 107,0.80,5856.0,1366.0,Super Built up area 1366(126.91 sq.m.),2,2,3+,not available,"Sector 107 Gurgaon, Gurgaon, Haryana",7.0,North-East,1 to 5 Year Old,"['Signum 107', 'Nora Solomon Medicenter', 'Ind...",M3m woodshire is one of the most popular desti...,"['2 Wardrobe', '5 Fan', '1 Exhaust Fan', '5 Li...","['Water purifier', 'Security / Fire Alarm', 'F...","['Green Area4.5 out of 5', 'Construction5 out ..."
1,2 BHK Flat in Laxman Vihar,flat,not applicable,sector 4,0.42,5600.0,750.0,Carpet area: 750 (69.68 sq.m.),2,2,1,not available,"621/622, Gali No-4, Laxman Vihar, Gurgaon, Har...",3.0,NaN,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Prat...","Flat build on, two side open plot with 18 feet...","['4 Wardrobe', '1 Water Purifier', '2 Fan', '1...","['Lift(s)', 'Water purifier', 'Maintenance Sta...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,8 Bedroom House for sale in Sector 105 Gurgaon,house,independent,sector 105,0.60,11102.0,540.0,Plot area 60(50.17 sq.m.),8,4,3,not available,"C 93 B, Sector 105 Gurgaon, Gurgaon, Haryana",3.0,West,0 to 1 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Bhar...",Property with modern upgradesPlease write a pr...,"['9 Fan', '17 Light', 'No AC', 'No Bed', 'No C...","['Private Garden / Terrace', 'Park']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
3,3 BHK Flat in Sector 111 Gurgaon,flat,kashish manor one,sector 111,1.65,7097.0,2325.0,Super Built up area 2325(216 sq.m.),3,4,3+,"servant room,others","Sector 111 Gurgaon, Gurgaon, Haryana",14.0,NaN,Under Construction,"['HUDA Sector 23 Market', 'Palam Vihar Vyapar ...",Kashish manor one is located just 0 km from de...,[],"['Park', 'Club house / Community Center', 'Wat...",NaN
4,3 Bedroom House for sale in Ashok Vihar,house,independent,sector 3,0.90,10000.0,900.0,Plot area 900(83.61 sq.m.)Built Up area: 3500 ...,3,4,3,others,"Phase 3 Extn., Ashok Vihar, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",L shape plot. Commercial cum residential const...,"['1 Bed', '5 Wardrobe', '1 Water Purifier', '4...","['Feng Shui / Vaastu Compliant', 'Water Storag...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [29]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [30]:
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
3038,flat,maxworth city residences,sector 10a,0.90,7083.0,1271.0,Super Built up area 1200(111.48 sq.m.),2,2,3,others,9.0,East,0 to 1 Year Old,"['Rajiv Chowk Mosque', 'Yadav Hospital Gurgoan...",[],"['Security / Fire Alarm', 'Intercom Facility',..."
2739,house,independent,sector 105,1.35,3857.0,3500.0,Built Up area: 3500 (325.16 sq.m.)Carpet area:...,5,3,3,not available,3.0,East,undefined,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN
3104,flat,tulip violet,sector 69,1.70,8457.0,2010.0,Super Built up area 2010(186.74 sq.m.)Carpet a...,4,4,2,"pooja room,study room,servant room,store room",10.0,South-West,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...","['4 Wardrobe', '4 Fan', '1 Exhaust Fan', '9 Li...","['Centrally Air Conditioned', 'Water purifier'..."
2426,flat,m3m heights,sector 65,2.29,15980.0,1433.0,Carpet area: 1433 (133.13 sq.m.),2,2,3,study room,8.0,NaN,Under Construction,"['Rapid Metro Sector 56', 'M3m 65th Avenue Mal...",NaN,"['Intercom Facility', 'Lift(s)', 'Park']"
113,house,bhim garh kheri,sector 3,0.75,6410.0,1170.0,Plot area 130(108.7 sq.m.),4,2,2,not available,2.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","['1 Light', '1 Chimney', 'No AC', 'No Bed', 'N...","['Private Garden / Terrace', 'Water Storage']"

In [31]:
# feature engineering required -> areaWithType, additionalRoom, facing, agePossession, furnishDetails, features

In [34]:
df.shape

(3803, 17)

In [32]:
df.duplicated().sum()

np.int64(122)

In [33]:
df.to_csv(f'{file_path}/4.gurgaon_properties_cleaned_v1.csv',index=False)